-if @all_samples.blank?
  no samples
-else 
  -@all_samples.each do |s|
    %p
      Sample #{s.id}: 
      %br
      Organism: #{s.organism}
      %br
      Protocol: #{s.protocol}
    
%p   
  =form_tag({:action => "new"}, :method => "get") do
    =submit_tag("New sample")
