<!-- <a href="#" onclick="this.style.backgroundColor='#990000'" style="background-color: rgb(153, 0, 0);">Paint it red</a> -->

<!--
#%h3= @exp_protocol

#//= render partial: "spectrum_identification", collection: @spectrum_identifications


#%a{:href => "#", :onclick => "my_alert"}My alert


#= render @spectrum_identifications

-->


<p><a href="#" onclick="window.paintIt(this, '#990000')">Paint it red</a></p>



