%h2= "EXPERIMENT / MZID FILE:"
%h3= @exp_protocol
%br
%h3= "SPECTRUM IDENTIFICATION:"
-# render partial: "spectrum_identification", collection: @spectrum_identifications
= render @spectrum_identifications

#spectrum_identification{@si_ids}


