- if  @pdh_psi_ms_cv_terms.blank?
  %tr
    %td.empty= "No PSI-MS CV terms"
- else
  - @pdh_psi_ms_cv_terms.each do |cvP|
    %tr
      %td.title= cvP.psi_ms_cv_term_accession
      %td= cvP.ms_term_name
      %td= cvP.value

