%h2= "EXPERIMENT / MZID FILE:"
%h3= @exp_protocol
%br
%h3= "PROTEIN DETECTION"

remember index action has no sense
%br
there may be only one Protein Detection. go to show action with the only possible :id ->
%br
%br
=@pd.protein_detection_id
%br
=@pd.name
%br
=@pdl.pdl_id
%br
="Protein Ambiguity Groups: #{@pag_count}"
%br
