$('table#pdh_table').find('tbody').empty();
$('table#pdh_table').find('tbody').append("<%= escape_javascript(render partial: 'show') %>");

$('table#pdh_cvp').find('tbody').empty()
$('table#pdh_cvp').find('tbody').append("<tr><td class=empty>PSI-MS CV terms, names and value</td></tr>");

$('table#pdh_up').find('tbody').empty()
$('table#pdh_up').find('tbody').append("<tr><td class=empty>User-defined Parameters</td></tr>");
