%h2 Experiments
-if @experiments.blank?
  %p
    no experiments
  -if current_user
    %p
      = link_to "New experiment", new_admin_experiment_path
-else 
  -@experiments.each do |e|
    %p
      Experiment #{e.id}: 
      %br
      Organism: #{e.organism}
      %br
      Protocol: #{e.protocol}


// NO!! This view does not require log in    
//%p   
//  =form_tag({:action => "new"}, :method => "get") do
//    =submit_tag("New Experiment")
