%h2 Experiments
-if @experiments.blank?
  %p
    no experiments

-else 
  -@experiments.each do |e|
    %table.my_table
      %tr
        %td.title Experiment
        %td= e.id
      %tr
        %td.title Organism
        %td= e.organism
      %tr
        %td.title Protocol
        %td= e.protocol

%p= link_to "New experiment", :controller => 'admin/experiments', :action => :new


// NO!! This view does not require log in    
//%p   
//  =form_tag({:action => "new"}, :method => "get") do
//    =submit_tag("New Experiment")
