%h2 .mzid Files
-if @all_mzid_files.blank?
  %p No stored .mzid files
-else
  -@experiments.each do |e|
    %table.my_table
      %tr
        %td.title Experiment:
        %td= e.protocol
      %tr
        %td{colspan: 2}
          %table.my_table.inner
            %thead
              %tr
                %th.mzid_file_name .mzid File
                %th.submission_date submission date
                %th
              -e.mzid_files.each do |mzidf|
                %tr
                  %td= mzidf.name
                  %td.center=  mzidf.submission_date
                  -if mzidf.spectrum_identifications.blank?
                    %td.load_button.center=button_to 'Load 2 DB', load2db_admin_mzid_file_path(:id => mzidf.id)#, remote: true
                  -else 
                    %td.center content in database

%p= link_to "New mzid file", :controller => 'admin/mzid_files', :action => :new
