/* style.scss */

body {
  background-color: #F9F9F9; 
  margin: 0% 12% 0% 12%;
  font {
    family: Helvetica, Arial, sans-serif;
    size: 9pt;
  }
  color: #0A2747;
  h3: { font-size: 9pt }
}


header {
  height: 67px;
  background-color: #deeaea;
  border-bottom: solid #B6B5B0 3px;
}