body {
  background-color: white;
  margin: 0% 12% 0% 12%;
  font-family: arial;
  font-size: 9pt;
  color: #0a2747; }

nav_links {
  padding: 5px;
  margin: 0 0 20px 0;
  float: right; }
  nav_links ul {
    list-style-type: none; }
  nav_links li {
    float: left;
    padding: 0 20px; }
    nav_links li a {
      font-size: 10pt;
      text-decoration: none;
      font-weight: bold;
      color: #008080; }
      nav_links li a:hover {
        color: #ACABAC; }

content {
  display: block;
  clear: both;
  border: solid #b6b5b0 1px;
  padding: 20px; }
