/*----- sticky footer thing ------*/
* {
  margin: 0; }

html, body {
  height: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5.5em; }

.footer, .push {
  height: 5.5em; }

/*----- sticky footer thing ------*/
body {
  background-color: white;
  padding: 0% 12% 0% 12%;
  font-family: arial;
  font-size: 9pt;
  color: #0a2747; }

p {
  padding: 8px 0; }

/* this is bc of the sticky footer thing */
nav_links {
  padding: 5px;
  float: right; }
  nav_links ul {
    list-style-type: none; }
  nav_links li {
    float: left;
    padding: 25px 0px 0px 40px; }
    nav_links li a {
      font-size: 11pt;
      text-decoration: none;
      font-weight: bold;
      color: #924C4C; }
      nav_links li a:hover {
        color: #ACABAC; }

content {
  display: block;
  clear: both;
  border-top: solid #924C4C 2px;
  padding: 20px; }
