%h2 .mzid Files
-if @all_mzid_files.blank?
  No stored .mzid files
-else 
  -@all_mzid_files.each do |mzidf|
    %p
      mzid file: #{mzidf.name}
      %br
      sha-1: #{mzidf.sha1}
      %br
      submission date: #{mzidf.submission_date}
    
%p   
  =form_tag({:action => "new"}, :method => "get") do
    =submit_tag("New mzid file")
