Aqui pondre "Loaded Data into Tables Succesfully"
%br
O La lista de Errores y Rollback y tal...
%br
="@sip1 es #{@sip1}"
%br
="@sip1_input_spectra  es #{@sip1_input_spectra}"
%br
="@sar_sip1_id es #{@sar_sip1_id}"

