%h2 Upload .mzid File

%p
= form_for @mzid_file, :url => {:action => "create"} do |f|

  Select Experiment id 
  %br
  %p=select :experiment, :experiment_id, options_from_collection_for_select(@experiments, "id", "protocol")
  %br
  =f.file_field 'uploaded_file'
  =hidden_field_tag :mzid_file_id, params[:mzid_file_id]
  %br
  %p=f.submit
  
//%p= select_date Date.today, :prefix => :start_date
