//check sample_id present and valid!!
%h2 Upload .mzid File for biological sample with sample_id: #{params[:sample_id]}
%p
= form_for @mzid_file, :url => {:action => "create"} do |f|
  =f.file_field 'uploaded_file'
  =hidden_field_tag :sample_id, params[:sample_id]
  %br
  %p=f.submit
  
