%h2 about


%p 
  Proteopathogen was first released in 2009 to collect and store mainly but not only Candida related Proteomics experiments.
  Published in
  =link_to "October 2009 in Proteomics", "http://dx.doi.org/10.1002/pmic.200900023"
  \. The original version is available at:
  =link_to "proteopathogen.dacya.ucm.es", "http://proteopathogen.dacya.ucm.es"

%p 
  The backend database has now been rebuilt to map directly elements from the MzIdentML file format, the HUPO-PSI
  adopted format for reporting peptides and proteins identified from mass spectra. 
  
  A SQL schema of the structure is available here:
  =link_to "proteopathogen_structure.sql", "public/structure.sql"



%p 
  The experimental data comes mostly from Dept. Microbiologia II - Universidad Complutense de Madrid - Spain
