$proteopath_light_green: #DEEAEA;
$blue_font_color: #0A2747;
$light-blue-link-color: #55A5D8;
$gray: #B6B5B0;


/*----- sticky footer thing ------*/
* { 
  margin: 0; 
  }
html, body { 
 height: 100%;

 }
.wrapper {
  min-height:100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5.5em;
  background-color: white; 

}
.footer, .push {
  height: 5.5em;

}
/*----- sticky footer thing ------*/


body {
  /*background-color: #FAFAFA; #poner una imagen de fondo?*/
  padding: 0% 16% 0% 16%;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 8pt;
  color: $blue_font_color;
}

  
p {padding: 8px 0;} /* this is bc of the sticky footer thing */ 

nav_links {
  padding: 5px;
  float: right;
  ul { list-style-type: none; }
  li {
    float: left;
    padding: 25px 0px 0px 40px;
    a {
	  font-size: 11pt;
	  text-decoration: none;
	  font-weight: bold;
	  color: #924C4C;
	  &:hover{ color: #ACABAC; }
    }
  }
}



content {
  display:block;
  clear: both;
  border-top: solid #924C4C 2px;
  padding: 20px;
  /*overflow: scroll;*/
  a { 
    font-size: 9pt;
	text-decoration: none;
    font-weight: bold;
	color: $light-blue-link-color;
	&:hover{ color: #ACABAC; }  
  }
}



.my_table {
  margin: 1em auto;
  table-layout: fixed;
  width: 100%;
  border:solid 1px #E1E1E1;
  tr:nth-of-type(odd){
    background-color:#F1F1F1;
  }
  tr:nth-of-type(even){
    background-color:#F8F8F8;
  } 
  td {
    padding: 3px 6px;
  }
  td.title {
    width: 200px;
    font-weight: bold;
    text-transform:uppercase;
  }
  td h4 {
    padding-top: 10px;
  }
}


.my_table .inner {
  border-collapse: collapse;
  margin: 1% auto;
  width: 100%;
  tr td {
    border: solid 2px white;
  }
  td.title { text-transform: lowercase; } 
}


/* Interesting for spectrum_identification_results:  wrap the <table> in a non-statically positioned <div> which has an overflow:auto CSS property. Then position the elements in the <thead> absolutely.

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
    
}
#table-wrapper table * {
  background:yellow;
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}
*/





