$proteopath_light_green: #DEEAEA;
$blue_font_color: #0A2747;
$light-blue-link-color: #55A5D8;
$gray: #B6B5B0;


/*----- sticky footer thing ------*/
* { 
  margin: 0; 
  }
html, body { 
 height: 100%;

 }
.wrapper {
  min-height:100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -5.5em;
  background-color: white; 

}
.footer, .push {
  height: 5.5em;
  img { 
   /*border-top: solid 1px #924C4C;*/ 
   display: block;
   margin: 0 auto;
   }
}
/*----- sticky footer thing ------*/


body {
  /*background-color: #FAFAFA; #poner una imagen de fondo?*/
  padding: 0% 16% 0% 16%;
  font-family: helvetica, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 8pt;
  color: $blue_font_color;
}


.hidden { display: none; }

p {padding: 8px 0;} /* this is bc of the sticky footer thing */ 


nav_links {
  padding: 5px;
  float: right;
  ul { list-style-type: none; }
  li {
    float: left;
    padding: 25px 0px 0px 40px;
    a {
	  font-size: 11pt;
	  text-decoration: none;
	  font-weight: bold;
	  color: #d45500;
	  &:hover{ color: #ff822e; }
    }
  }
}



content {
  display:block;
  clear: both;
  border-top: solid #924C4C 2px;
  padding: 20px;
  /*overflow: scroll;*/
  a { 
    font-size: 9pt;
	text-decoration: none;
    font-weight: bold;
	color: $light-blue-link-color;
	&:hover{ color: #ACABAC; }  
  }
}

/*h2, h3 { letter-spacing: 1px}*/

.flat {
  display: table;
  background-color: #924C4C;  
  color: WhiteSmoke;
  letter-spacing: 1px;
  padding: 1px;
  border-radius: 2px;
}

.flat_link {
  background-color: #55A5D8;
  padding: 1px 4px;
  border-radius: 2px;
  color: whitesmoke;
  &:hover{ color: white; }
}

.table_header { margin-top: 2em;}

.my_table {
  margin: 1em auto;
  //table-layout: fixed;
  width: 100%;
  border:solid 1px #E1E1E1;
  border-radius: 5px;
  tr:nth-of-type(odd){
    background-color:#F1F1F1;
  }
  tr:nth-of-type(even){
    background-color:#F8F8F8;
  } 
  td {
    padding: 3px 6px;
  }
  td.center { text-align: center; }
  td.title {
    width: 200px;
    font-weight: bold;
    /*text-transform:uppercase;*/
  }
  td h4 {
    padding-top: 10px;
  }
}

.shadow {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}


.my_table .inner {
  border-collapse: collapse;
  border-color: white;
  margin: 1% auto;
  width: 100%;
  tr td {
    border: solid 2px white;
  }
  /*td.title { text-transform: lowercase; } */
}


//Datatables tweaks 

.dataTables_wrapper { margin:  1em auto; }

table.dataTable thead th {
  border: none;
}
.paging_full_numbers a.paginate_button, paging_full_numbers a.paginate_active {
  color: #55A5D8!important;
}
#sir_table_paginate, #pag_table_paginate{  
  a { 
    background-color:white;
    border: none;
  }
  .paginate_active {
    text-decoration: underline;
    color: gray!important;
  }
}

//table.dataTable tr.odd {
//  background-color: #F1F1F1; //#FFE6D5;
//}

//table.dataTable tr.even {
//  background-color: #F8F8F8; //#fff5ed;
//}


//table.dataTable tr.even td.sorting_1 {
//  background-color: #ffe5c5!important;
//}

//table.dataTable tr.odd td.sorting_1 {
//  background-color: #ffe8ce!important;
//}
