// Place all the styles related to the experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#exp_mzid_files_table {
  th { border: solid white 2px; border-collapse: collapse; }
  th.mzid_file_name { width: 350px;}
  th.submission_date { width: 110px;}
}
