// Place all the styles related to the experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#exp_table { 
  margin-bottom: 3em;
  thead tr {
    th { padding: 4px; }
    th.organism { width: 200px; }
    th.date { width: 64px; }
  }
  td { padding: 6px; }
}



table#exp_mzid_files_table {
  //th { border: solid white 2px; border-collapse: collapse; }
  th.mzid_file_name { width: 370px;}
  th.submission_date { width: 110px;}
}

/*
.separator { 
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid #ffe6d5;
  
  }
*/

//#protocol {display: none;}


label {display: inline}

