// Place all the styles related to the experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#exp_table_wrapper { 
  display: table;
  height: 200px;
  }

table#exp_table { 
  margin: 5% 0;

}

#index_exp_table_wrapper { margin-top: 3em;}

table#index_exp_table {
  thead tr {
    th { 
     padding: 6px; 
     font-size: 1.1em;
     }
    th.organism { width: 200px; }
    th.date { width: 64px; }
  }
  td { padding: 1em 10px; }
}


table#exp_mzid_files_table {
  //th { border: solid white 2px; border-collapse: collapse; }
  th.mzid_file_name { width: 370px;}
  th.submission_date { width: 110px;}
}

/*
.separator { 
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid #ffe6d5;
  
  }
*/

//#protocol {display: none;}


label {display: inline}

p.center { 
  text-align: center ;
  margin-top: 3em;
}
span.proteopathgreen{ color: #808080; }

