// Place all the styles related to the MzidFiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.ajax-progress {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  background-image: url('ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid green;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

label { display: block; line-height: 2em;}
.field_with_errors { 
  border-bottom: ridge red 2px;
  padding: 2px;
  display: inline;
}

.error_list { 
  margin: 2em;
  font-size: 1.1em; 
  color: red;
}
