// Place all the styles related to the ProteinDetection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table#pdp_cvp {display: none;}
table#pdp_up {display: none;}


table#pdh_up.my_table {
  table-layout: fixed;
  width: 100%;
  td {
    word-wrap:break-word;
   }
}
