// Place all the styles related to the ProteinDetection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue_font_color: #0A2747;

table#pdp_cvp {display: none;}
table#pdp_up {display: none;}

//NOTE: This is very important, remember there is this user parameter unique_stripped_peptides that can be veeery long and would stretch the table and make it ugly with horizontal scroll on the page WTF!

table.my_table {
  th.pdh_id { width: 120px; } 
  th.protein_description {width: 450px;}
  th.pdh_name {width: 110px;}
  //th.peptide_sequence { width: 550px;}
  th.psm_count {width: 90px; }
  //td {
  //  word-wrap:break-word;
  //  width: auto;
  // }

}

table#pdh_up, #psms_table {
  //watchout tablelayout fixed and window width!!
  table-layout: fixed;
  td {
    word-wrap:break-word;
  }
}

table#psms_table td.small_sii_ids {font-size: 8px;}


.peptide_protein_map{
  //height: 50px;
  position: relative;
  display: table;
  table-layout: fixed;
  margin: 2em auto;
  padding: 4px 0;
  width: 100%;
  border: 1px dashed #B6B5B0;
  border-radius: 6px;
  p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 2px;
    color: $blue_font_color;
    font-size: 1.1em;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    span.cov { 
      font-size: 110%;
      font-weight: bold;
      color: #d45500;
    }
  }
  p.no_prot_seq { color: gray; }
  
}
