// Place all the styles related to the ProteinDetection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table#pdp_cvp {display: none;}
table#pdp_up {display: none;}

//NOTE: This is very important, remember there is this user parameter unique_stripped_peptides that can be veeery long and would stretch the table and make it ugly with horizontal scroll on the page WTF!
table#pdh_up, #psms_table {
  table-layout: fixed;
  width: 100%;
  td {
    word-wrap:break-word;
   }
}
