// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#search_form {
  margin: 10% auto;

  width: 30%;
  /*display: table;*/
  border: 1px dashed #B6B5B0;
  border-radius: 6px;  
  /*position: relative;*/
  padding: 2em;
  boder: dashed gray 1px;
  border-radius: 5px;
  }





#sequence {
  display: none;
  font-family: monospace;
  }
  
  
