/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#log_in {
  display: block;
  margin: 5% auto;
  boder: dashed gray 1px;
  border-radius: 5px;
}
