// Place all the styles related to the spectrum_identifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//table#sar {display: none;}
//table#sip {display: none;}
table#sip_cvp {display: none;}
table#sip_up {display: none;}
table#sip_mods {display:none;}
table#search_databases {display:none;}

#sip_mods_wrapper {margin:0}
