// Place all the styles related to the SpectrumIdentificationResults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table#sir_table {
  th.sii_id { width: 300px; }
  th.spectrum_name { width: 300px; }
}

table#sii_table {
    th.sii_id { width: 330px; }
}

td.empty { text-align: center;}

table#pep_ev_table {
  th.db_seq { width:180px  }
 
}


$blue_font_color: #0A2747;

.spectrum_annotation{
  //height: 50px;
  position: relative;
  display: table;
  table-layout: fixed;
  margin: 5px auto;
  padding: 4px 0;
  width: 80%;
  border: 1px dashed #B6B5B0;
  border-radius: 6px;
  p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 2px;
    color: $blue_font_color;
    font-size: 1.1em;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
  }
  span.modification { 
   display: table;
   position: relative; 
   margin: 0 auto; 
  }
  span.mod {
    background-color: yellow;
    border: solid gray 1px;
  }
}



#spectrum, #spectrum_test{ 
  position: relative;
  width: 80%;
  height: 300px; //,if I don't specify this div height, the javascript when clicking on sii makes page jump to top//
  overflow: hidden;
  margin: 1.1em auto;
  display: block;
  border: 1px dashed #B6B5B0;
  border-radius: 6px;
    svg {
      display: block;
      //height: 100%;
      margin: 1% auto;
    }
  }

#spectrum.hidden { display: none;}
 
.spectrum_display_msg  {
  display: block;
  p {
    text-align: center;
    line-height: 300px;
    font-family: sans-serif;
    font-size: 1.1em;
    color: #B6B5B0;
  }
}


.axis path,
.axis line {
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 9px;
    color: $blue_font_color;
}


#tooltip {
        position: absolute;
        width: 100px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 12px;
        line-height: 15px;
}

