/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/



div.ajax-progress {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  background-image: url('ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid green;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
