// Place all the styles related to the spectrum_identifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.my_table {
  margin: 2% auto;
  table-layout: fixed;
  width: 100%;
  border:solid 1px #E1E1E1;
  tr:nth-of-type(odd){
    background-color:#F1F1F1;
  }
  tr:nth-of-type(even){
    background-color:#F8F8F8;
  } 
  td {
    padding: 3px 6px;
  }
  td.title {
    width: 200px;
    font-weight: bold;
    text-transform:uppercase;
  }
  td h4 {
    padding-top: 10px;
  }
}


.my_table .inner {
  border-collapse: collapse;
  margin: 1% auto;
  width: 100%;
  tr td {
    border: solid 2px white;
  }
  td.title { text-transform: lowercase; } 
}

table#sar {display: none;}
table#sip {display: none;}
table#sip_cvp {display: none;}
table#sip_up {display: none;}
table#sip_mods {display:none;}
