%tr
  %td
    =link_to "#{spectrum_identification_result.sir_id}", '#', :data => {'sir-id' => "#{spectrum_identification_result.id}" }, remote: true
  -# - if spectrum_identification_result.spectrum_name
  %td= spectrum_identification_result.spectrum_name
  -# - if spectrum_identification_result.spectrum_id
  %td= spectrum_identification_result.spectrum_id
 
