//this function works only from 2nd click and on (works ok in asset.js.coffee)
//$(function() {  
//  //$("a[data-sir-id]").click(function() {
//  $("#sir_table").on("click", ".sir_link", function() {
//    //$("#spectrum").empty()
//    $(".underline").removeClass("underline");  //remove the class from any element that has it
//    $(this).addClass("underline");  //add a class to the currently clicked link
//  });
//});

$('table#sir_cvp').find('tbody').empty()
$('table#sir_cvp').find('tbody').append("<%= escape_javascript(render partial: 'sir_psi_ms_cv_terms') %>");

$('table#sir_up').find('tbody').empty()
$('table#sir_up').find('tbody').append("<%= escape_javascript(render partial: 'sir_user_params') %>");

$('table#sii_table').find('tbody').empty();
$('table#sii_table').find('tbody').append("<%= escape_javascript(render partial: 'show') %>");

$('table#sii_cvp').find('tbody').empty()
$('table#sii_cvp').find('tbody').append("<tr><td class=empty>PSI-MS CV terms, names and value</td></tr>");

$('table#sii_up').find('tbody').empty()
$('table#sii_up').find('tbody').append("<tr><td class=empty>User-defined Parameters</td></tr>");


