%h2 Spectra acquisition data for #{@input_spectra_file}

= form_for [:admin, @spectra_acquisition_run], :url => {:action => "create"}, html: {class: "my_form"} do |f|
  - if @spectra_acquisition_run.errors.any?
    %ul
      - for message in @spectra_acquisition_run.errors.full_messages
        %li= message
  
  
  = f.label :fraction, "Describe sample (or fraction) obtention"
  %br
  =f.text_area :fraction
  
  =f.select :ionization, @ionization_types.collect { |i| [i.name, i.id] } , :prompt => 'Select ionization type'

  =f.select :analyzer, @analyzers.flatten.collect { |a| [a.name, a.id] } , :prompt => 'Select analyzer type'
  
  =f.select :instrument, @instruments.collect { |i| [i.name, i.id] } , :prompt => 'Select instrument model'

  %p=f.submit 'Create Spectra Acquisition Data', class: "my_button"
  
