!!! Strict 
/Compiled to <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html", :charset => "utf-8" }
    %meta{:name => "keywords", :content => "proteomics Candida albicans host pathogen" }

    %link{:rel => "icon", :href => "/images/g3360.png"}
    %title Proteopathogen


  =stylesheet_link_tag 'style'
  /=javascript_include_tag :defaults

  %body
    %header
      =image_tag 'proteo_pathogen_logo1.png'

    %nav_links
      %ul
        %li=link_to 'HOME', '/'
        %li=link_to 'BROWSE', '/browsexperiment'
        %li=link_to 'SEARCH', '/search'
        %li=link_to 'CONTACT', '/contact'

    %content

      =yield




